{% extends 'games/base.html' %}

{% block title %}
Game {{ game.id }}: Dashboard
{% endblock %}

{% block content %}
<h1>Game {{ game.id }}: Dashboard</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form method="post">
	{% csrf_token %}
	{{ form }}
	<input type="submit" value="Record new relation">
</form>

Players:
<ul>
	{% for player in game.players.all %}
	<li>{{ player.name }}</li>
	{% endfor %}
</ul>

Cards:
<ul>
	{% for card in game.cards.all %}
	<li>{{ card.name }}</li>
	{% endfor %}
</ul>

Relations:
<ul>
	{% for relation in game.known_relations.all %}
	<li>{{ relation }}</li>
	{% endfor %}
</ul>
<br>
<a href="{% url 'games:home' %}" class="btn btn-secondary">Back</a>
{% endblock %}
